*{
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    color: #3e4794;;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 4rem;
}

nav img{
    width: 120px;
}

.nav-items{
    display: flex;
    gap: 40px;
}

.nav-item{
    margin-top: 12px;
    font-size: 17px;
    color: #3e4794;
    font-family: "Roboto";
}

.signin-btn{
    color: #fff;
    font-size: 15px;
    /* padding: 1px 18px; */
    padding: 0.1rem 1rem;
    border-radius: 35px;
    margin-right: 0px;
    border: none;
    background: linear-gradient(to right,#7433dc,#ff8adc);
} 

.intro-section{
    display: flex;
    flex-direction: row;
}

.left-section{
    margin: 3rem 4rem;
}

.left-section h1{
    font-size: 53px;
    font-weight: 800;
    margin-bottom: 3rem;
}

.left-section h4{
    width: 350px;
    line-height: 30px;
    font-size: 17px;
    font-weight: 200;
    color: #302d45;
    margin-bottom: 3rem;
}

.learn-more-btn{
    color: #fff;
    font-size: 20px;
    padding: 1rem 3rem;
    border-radius: 35px;
    margin-right: 0px;
    border: none;
    background: linear-gradient(to right,#7433dc,#ff8adc);
}

.imgs-div{
    position: relative;
}

.vector-img{
    position: relative;
    bottom: 90px;
    left: 120px;
    width: 75px;

}

.vector-dot{
    position: relative;
    bottom: 160px;
    right: -85px;
    width: 13px;
}

.imgs-div img:last-child{
   width: 540px;
   position: relative;
   margin-right: 3rem;
   margin-top: -20px;
}