*{
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    color: #3e4794;;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 4rem;
}

nav img{
    width: 120px;
}

.nav-items{
    display: flex;
    gap: 40px;
}

.nav-item{
    margin-top: 12px;
    font-size: 17px;
    color: #3e4794;
    font-family: "Roboto";
}

.signin-btn{
    color: #fff;
    font-size: 15px;
    /* padding: 1px 18px; */
    padding: 0.1rem 1rem;
    border-radius: 35px;
    margin-right: 0px;
    border: none;
    background: linear-gradient(to right,#7433dc,#ff8adc);
} 

.intro-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.left-section{
    margin: 3rem 4rem;
}

.left-section h1{
    font-size: 53px;
    font-weight: 800;
    margin-bottom: 2rem;
}

.left-section h4{
    width: 350px;
    line-height: 30px;
    font-size: 17px;
    font-weight: 200;
    color: #302d45;
    margin-bottom: 2rem;
}

.learn-more-btn{
    color: #fff;
    font-size: 20px;
    padding: 1rem 3rem;
    border-radius: 35px;
    margin-right: 0px;
    border: none;
    background: linear-gradient(to right,#7433dc,#ff8adc);
}

.main-div{
    position: relative;
}

.main-div::before{
    content: '';
    background: url(../images/backcover.svg) no-repeat right top;
    position: absolute;
    left: 40em;
    bottom: 6em;
    width: 55vw;
    height: 100vh;
    z-index: -1;
    transform: rotate(-15deg);
}

.imgs-div{
    position: relative;
}

.vector-img{
    position: relative;
    /* bottom: 90px; */
    top: -80px;
    left: 120px;
    width: 75px;
}

.vector-dot{
    position: relative;
    /* bottom: 160px; */
    top: -150px;
    right: -85px;
    width: 13px;
}

.imgs-div img:last-child{
   width: 540px;
   position: relative;
   margin-right: 3rem;
   margin-top: -20px;
}

@media only screen and (max-width: 1162px){
    
    .imgs-div img:last-child{
        width: 440px;
        
     }

     .left-section h1{
        font-size: 45px;
        font-weight: 800;
        margin-bottom: 2rem;
    }
    
    .left-section h4{
        font-size: 15px;
    }
    
    .learn-more-btn{
        font-size: 18px;
        padding: 0.8rem 2.4rem;
        border-radius: 30px;
    }

    .main-div::before{
        content: '';
        background: url(../images/backcover.svg) no-repeat right top;
        position: absolute;
        left: 40em;
        bottom: 6em;
        width: 55vw;
        height: 100vh;
        z-index: -1;
        transform: rotate(-15deg);
    }
}

@media only screen and (max-width: 1062px){
    .imgs-div img:last-child{
        width: 330px;
     }

     .left-section h1{
        font-size: 30px;
    }
    
    .left-section h4{
        font-size: 13px;
    }

    .learn-more-btn{
        font-size: 13px;
    }
    .main-div::before{
        left: 40em;
        bottom: 6em;
        width: 45vw;
        height: 100vh;
        z-index: -1;
        transform: rotate(-20deg);
    }

    .vector-img{
        position: relative;
        /* top: -50px; */
        top: -2.4em;
        left: 100px;
        width: 75px;
    }
    
    .vector-dot{
        position: relative;
        top: -110px;
        right: -65px;
        width: 13px;
    }
}

@media only screen and (max-width: 951px){
    .vector-img{
        display: none;
    }
    .vector-dot{
        display: none;
    }
   
    
    nav img{
        width: 80px;
    }
    
    .nav-items{
        display: flex;
        gap: 30px;
    }
    
    .nav-item{
        margin-top: 12px;
        font-size: 13px;

    }
    
    .signin-btn{
        color: #fff;
        font-size: 15px;
        /* padding: 1px 18px; */
        padding: 0.1rem 1rem;
        border-radius: 35px;
        margin-right: 0px;
        border: none;
        background: linear-gradient(to right,#7433dc,#ff8adc);
    } 
    
}



@media only screen and (max-width: 768px){
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    
    nav img{
        width: 90px;
    }
    
    .nav-items{
        display: flex;
        gap: 40px;
    }
    
    .nav-item{
        margin-top: 12px;
        font-size: 17px;
    }
    
    .signin-btn{
        color: #fff;
        font-size: 17px;
        padding: 0.5rem 1.5rem;
        border-radius: 35px;
        margin-bottom: 2rem;
    } 

    .intro-section{
        flex-direction: column-reverse;
    }

    .main-div::before{
        display: none; 
    }

    .left-section{
        text-align: center;
    }
    
}

@media only screen and (max-width: 500px){

    nav img{
        width: 70px;
    }

    .nav-items{
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .nav-item{
        font-size: 15px;
    }

    .signin-btn{
        color: #fff;
        font-size: 12px;
        padding: 0.5rem 1.5rem;
        border-radius: 35px;
        margin-bottom: 2rem;
    } 

    .imgs-div img:last-child{
        width: 200px;
        margin-left: 3rem;
    }

    .left-section h1{
        font-size: 20px;
    }

    .left-section h4{
        font-size: 12px;
        width: 50vw;
        line-height: 2em;
    }
    .learn-more-btn{
        font-size: 12px;
        padding: 11px 20px ;
    }
}
